@border:5px + 5;

div{
    width: 200px - 50;
    height: 200px * 2;
    border: @border solid red;
    background-color: #666 - #444;
}

img{
    // 除法要加括号，才会生效
    width: (80 / 50rem);
    height: (80 / 50rem);
}
// 我们的运算符的左右两侧必须敲空格符
// 两个参数参与运算，如果只有一个数有单位，则结果以这个单位为准
// 两个参数参与运算，如果两个数都有单位，且是不同的,结果以第一个单位为准